[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
# 以下を追記する
django = "==2.0"
pillow = "*"

[requires]
python_version = "3.6"
